[Unit]
Description=adsy aptly fifo packet queue
After=network.target

[Service]
Type=simple
User=mirror
Group=mirror
ExecStart=/usr/local/bin/aptly-fifo-packet-queue --socket=/var/run/aptly-fifo-queue/socket --save-file=/var/run/aptly-fifo-queue/jobs

[Install]
WantedBy=multi-user.target
