[Unit]
Description=adsy gitlab pkgbot
After=network.target

[Service]
Type=simple
User=mirror
Group=mirror
ExecStart=/usr/local/bin/gitlab-pkgbot /etc/gitlab-pkgbot.yaml

[Install]
WantedBy=multi-user.target
